.box1 {
    width: 200px;
    height: 200px;
    background-image: url("../images/logo1.jpeg");
}

.box2 {
    width: 200px;
    height: 200px;
    background-image: url("../images/logo2.png");
}

.box3 {
    width: 200px;
    height: 200px;
    background-image: url("../images/logo3.gif");
}
